#mainLessons {
    /* text-align: center; */
    /* border-bottom: 30px solid #00ffdd; */
    /* padding: 10% 5% 10% 5%; */
    /* padding-bottom: 5vh; */
    border-color: #00ffdd
}
.lessons-message, .lessons-field {
    width: 90%;
    max-width: 500px;

}
.lessons-message {
    resize: none;
    height: 200px;
}
.lessons-name, .lessons-email, .lessons-phone {
    margin-bottom: 5px;
}
/* Hides the increment arrows on the phone number form */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.lessons-send {
    margin-top: 1rem;
    background: #00ccaa;
    color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #00ccaa;
    width: 100%;
    max-width: 200px;
    height: 3rem;
}