.innerMap {
    position: relative;
    display: inline-block;
    left: -64px;
}

.seatMap {
    margin: 0px auto;
    text-align: center;
}

.soundTable {
    position: absolute;
    border: 1px solid #fff;
    writing-mode: vertical-lr;
}
#reserveBtn {
    margin-top: 440px;
    margin-left: 30%;
    margin-bottom: 10px;
}