body {
  background: #000000;
  color: #ffffff;
}
.slick-slider {
  margin: 30px auto 50px;
  /* margin: 0px auto 50px auto; */
}
.slick-dots li button:before {
  color: #fff;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}
.slick-arrow {
  background-color: #00000000;
}
.slick-prev{
  left: 5%;
  z-index: 10;
}
.slick-next{
  right: 5%;
}
.carouselImg{
    height: auto;
    width: 100%;
}

.carousel {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  overflow: auto;
}

@media screen and (max-width: 960px) {
  .slick-slider {
    margin: 0px auto 50px auto;
  }
}