.container {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  background: #00000000;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-arrow {
  background-color: #00000000;
}
.slick-prev{
  left: 5%;
  z-index: 10;
}
.slick-next{
  right: 5%;
}
.carouselImg{
    height: auto;
    width: 100%;
}