#mainShow {
    /* text-align: center; */
    /* border-bottom: 30px solid #8800aa; */
    /* padding: 10%; */
    /* padding-bottom: 5vh; */
    border-color: #8800aa;
}

.showReserveBtn {
    margin-top: 1rem;
    background: #550088;
    color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #550088;
    width: 100%;
    max-width: 200px;
    height: 3rem;
}