html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 1em;
}

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.header {
    background: #00ffdd;
    color: #000000;
}
.navbar-brand {
    font-weight: 900;
}

.mainSection {
    border-bottom-width: 30px;
    border-bottom-style: solid;
    padding-bottom: 10vh;
    text-align: center;
}