.mainThanks {
    text-align: center;
    border-bottom: 30px solid #00ffdd;
    padding: 10% 5% 10% 5%;
}
#facebookLogo {
    height: 50px;
    width: 50px;
}
#instagramLogo {
    height: 50px;
    width: 50px;
}